
.footer__social{
  left: 0px;
  text-decoration: none;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-left: 0px; /* Отступ слева */
}

.footer__social:hover{
  opacity: 0.5;
  transition-duration: 2s;
}
