.page {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
  /*flex-direction: row; */
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  border: 2px solid red;
  z-index: 0;
  /*height: 95px;*/
  /*display: flex;*/
  /*border: 2px solid red;*/
  /*border: 1px solid red;*/
  /* выше установили ограничения для секции */
}

.content{
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100vw;

  border: 2px solid green;
  position: relative;
}

.footer{
  display: flex;
  position: relative;
  top:1500px;
  left: 64px;
  width: 182px;
  height: 32px;
}


.header__logo_place_header{
  position: absolute;
  top:30px;
  left: 64px;
  width: 182px;
  height: 32px;
  border: 2px solid red; /* граница не влияет на размер */
}



.header__title{


  position: absolute;
  left: 64px;
  align-self: center;

  font-size: 102px;
  font-weight: bold;
  width: 730px;
  border: 2px solid red; /* граница не влияет на размер */
  line-hight: 96px;
  font-size: 102px;
}


.header__subtitle{

  position: absolute;
  bottom:30px;
  left: 64px;
  width: 388px;
  /*margin: auto;*/
  /*height: 32px;*/
  width: 388px
  line-hight: 25px;
  font-size: 18px;
  border: 2px solid red;
}

.header-link{
  margin: auto;
}

.header__main-illustration{

  position: absolute;
  justify-content: flex-end;
  align-items: center;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  width: 765px;
  height: 608px;

}

.header__square-pic{
  block: flex;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
  /*left: 0px;*/
  z-index: -1;
  margin-top: 0px;
  width: 568px;
  height: 568px;
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

}


.description{

  border: 2px solid red;
  width: 80vw;
  margin-top: 100px;
  margin-bottom: 100px;


}

.two-columns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;



  border: 2px solid red;


}

.two-columns__brief{



  width: 175px;
  border: 2px solid red;
  line-hight: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;


}

.two-columns__main-text{
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  border: 2px solid red;
}

.two-columns__paragraph{


  border: 2px solid red;
  line-hight: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{


  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid red;
  line-hight: 34px;
  font-size: 24px;
  font-weight: normal;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


.header__logo_place_footer{
  display: flex;
  position: absolute;
  top:30px;
  left: 64px;
  width: 182px;
  height: 32px;
  border: 2px solid red; /* граница не влияет на размер */
}


/* Булщит */


/* Все кнопки будут 100 на 30 пикселей, со скруглёнными углами и надписью заглавными буквами */
.project-button {
  width: 200px;
  height: 260px;
  border-radius: 4px;
  text-transform: uppercase;
}
/* Кнопка отправки формы будет синего цвета стали с белой надписью */
.project-button_type_submit {
  background-color: green;
  color: black;
}

/*div{ */

  /*box-sizing: border-box; /* задали box-sizing */
  /*width: 300px;
  /*height: 200px;
  /*border: 2px solid red; /* граница не влияет на размер */
  /*padding: 20px; /* отступ не растягивает блок */


  /*background-color:mediumaquamarine;*/
/*} */






}
