/* Основные блоки */

body{
  margin: 0 auto;
  width: 100%;

}

.page {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;


  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /*max-width: 1400px;*/
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}


.header {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: 0;
  flex-direction: row;
  overflow: hidden;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.description{
  width: 80vw;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.feinman{
  height: 790px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.kaufman{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  background-color:#1f1f1f;
  overflow: hidden;
}


.footer{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-height: 350px;
  background-color:#1f1f1f;
}

/* Элементы и модификаторы по порядку*/

/**/
/*Шапка*/

.header__logo_place_header{
  position: absolute;
  top:30px;
  left: 64px;
  width: 182px;
  height: 32px;
}

.header__title{
  position: absolute;
  left: 64px;
  align-self: center;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
}


.header__subtitle{
  position: absolute;
  bottom:30px;
  left: 64px;
  width: 388px;
  /*margin: auto;*/
  /*height: 32px;*/
  width: 388px;
  line-hight: 25px;
  font-size: 18px;
}

.header-link{
  margin: auto;
}

.header__main-illustration{
  position: absolute;
  z-index: 1;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
}

.header__square-pic{
  block: flex;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
  /*left: 0px;*/
  z-index: -1;
  margin-top: 0px;
  width: 568px;
  height: 568px;
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
}

/*Description*/
/* и элемента с модификатором вида ключ-значение */

.two-columns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;

}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text{
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/*Элементы Digits*/

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-title{
  width: 60vw;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bolder;
}

.section-subtitle{
  width: 60vw;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  margin-bottom: 100px;
  text-align: center;
 }

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  text-align: left;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  margin-top: 20px;
}


/*Элементы Фейнмана*/

.feinman__title{
  margin-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.feinman__subtitle{
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.feinman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.feinman__main-illustration{
  position: absolute;
  z-index: -1;
  width: 867px;
  height: 637px;
  bottom: 0px;
  left: 0px;
}


/*Элементы Кауфмана*/

.kaufman__triangle{
  overflow: hidden;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: 3;
  height: 877px;
  width: 877px;
}

.kaufman__section-title{
  width: 60vw;
  margin-top: 90px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bolder;
  z-index: 1;
}

.kaufman__section-subtitle{
  width: 60vw;
  margin-top: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.kaufman__table{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  margin-top: 0px;
  margin-bottom: 100px;
  text-align: center;
  margin-top: 0px;
  z-index: 3;
}

.header__logo_place_footer{
  display: flex;
  position: absolute;
  top:30px;
  left: 64px;
  width: 182px;
  height: 32px;
}

/*Footer*/

.columns{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  align-content: space-between;
  justify-content: space-between;
  left: 64px;
}

.columns__copyright{
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: 711px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__logo_place_footer{
  width: 183px;
  height: 35px;
  left: 64px;
}

.author{
  position: absolute;
  bottom: 10px;
  color: white;
}

.columns__info{
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 0;
}

.column-heading{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.column-links{
  line-height: 10px;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  z-index: 2;
  order: 2;
}

.columns__social{
  width: 120px;
  flex-basis: 150px;
  height: 200px;
}

.content__social{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: white;
}

.social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
}


